<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<main class="l-container">
			<section class="m-section m-detail">
				<header class="m-detail--header">
					<img class="m-detail--image" src="./../../src/img/test-image.jpg" alt="">
					<h1><%= issue.title%>%></h1>
					<h2><%= issue.meta_description %></h2>
					<span><%= Math.floor(Math.random() * Math.floor(300)) %></span>
					<span><%= issue.category%></span>
				</header>
				<article class="m-detail--information">
					<p class="m-information--paragraph"><%= issue.meta_description%></p>
				</article>
			</section>
		</main>
	</body>
</html>
