<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<main class="l-container">
			<section class="m-section m-detail">
				<header class="m-detail--header">
					<img class="m-detail--image" src="./../../src/img/test-image.jpg" alt="">
					<h1><%= data.name%>%></h1>
					<h2><%= data.short_title %></h2>
					<span><%= data.votes %></span>
					<span><%= data.genre%></span>
				</header>
				<article class="m-detail--information">
					<p class="m-information--paragraph"><%= data.description%></p>
				</article>
			</section>
		</main>
	</body>
</html>
