<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% include ../partials/header %>
			<main class="l-container">
				<section class="m-detail">
					<header class="m-detail--header">
						<img class="m-detail--image" src="<%=issue.image%>" alt="">
						<h1><%= issue.title %></h1>
						<span>Likes: <%= issue.likes.length %></span>
						<span>Category: <%= issue.category%></span>
						<p>Posted by:</p>
						<a href='/users/<%=owner._id%>'><h3><%= owner.username %></h3></a>
					</header>
					<nav class="m-nav">
						<ul class="m-nav--list">
							<a href="#issue"><li class="m-list--item m-item--active">Issue</li></a>
							<a href="#comment"><li class="m-list--item m-item--inactive">Comment</li></a>
							<a href="#contribute"><li class="m-list--item m-item--inactive">Contribute</li></a>
						</ul>
					</nav>
					<article class='m-information'>
						<section class="m-information--detail m-issue--detail" id="issue">
							<h1>Summary</h1>
							<h2>Meta description</h2>	
							<p class="m-information--paragraph"><%= issue.meta_description%></p>
							<h2>Full description</h2>	
							<p class="m-information--paragraph"><%= issue.description%></p>
							<% if(session.userId && issue.owner && issue.owner === session.userId){%>
							<a href="#">Edit this issue</a>
							<a href="/delete/<%=issue._id%>">Delete this issue</a>
							<% } %>
						</section>
						<section class="m-information--detail m-comment--detail" id="comment">
						<h1>Comment section</h1>
						<% if(comments[0]){
							console.log(comments)
							var byLikes = comments.slice(0);
						byLikes.sort(function(a,b) {
						return (b.likes.length - b.dislikes.length)  - (a.likes.length - a.dislikes.length);
						})
							 byLikes.forEach(comment => { %>
							<article class="m-comment">
								<span class="m-comment--title"><%= comment.title %></span>
								<p class="m-comment--content"><%= comment.meta_description %></p>
								<p class="m-comment--owner">Posted by <a href='/users/<%=comment.owner%>'><%= comment.owner_name %></a></p>
								<div class="m-comment--likes">
								<% if(session.userId){ %>
								<button onclick="upvote('<%=comment._id%>', '<%=session.userId%>')">
								<noscript><a href='/comment/<%= comment._id %>/upvote'></noscript>
								<i class="material-icons md-18">add</i>
								</button>
								<% } %>
								<span id='<%=comment._id%>'><%= comment.likes.length - comment.dislikes.length %></span>
								<% if(session.userId){ %>
								<button onclick="downvote('<%=comment._id%>', '<%=session.userId%>')">
								<noscript><a href='/comment/<%= comment._id %>/upvote'></noscript>
								<i id='downvote' class="material-icons md-18">remove</i>
								</button>
								<% } %>
								</div>
							</article>
							<%
							})
							}%>
							<h2>Add issue</h2>
							<% if(session.userId){ %>
							<form id="form" class="m-form" action="/newcomment/<%=issue._id%>" method="post">
								<label class="m-fieldset--label" for="title">Title</label>
								<input class="m-fieldset--input m-fieldset--text" id="title" type="text" name="title" required>
								<label class="m-fieldset--label" for="meta_description">Solution</label>
								<input class="m-fieldset--input m-fieldset--text" id="meta_description" type="text" name="meta_description" required>
								<button class="m-fieldset--button" type="submit">Post</button>
							</form>
							<% } else {%>
							<a href='/login'>Log in to leave a comment! </a>
							<% } %>
						</section>
						<section class='m-information--detail m-contribute--detail' id="contribute">
							<h1>Contribute</h1>
							<p class="m-information--paragraph">Participate in "<%= issue.title%>".</p>
							<p>This is a WIP, and not part of this first prototype.</p>
							<% if(session.userId && issue.owner && issue.owner === session.userId){%>
							<a href="#">Edit this issue</a>
							<a href="/delete/<%=issue._id%>">Delete this issue</a>
							<% } %>
						</section>
					</article>
				</section>
			</main>
			<% include ../partials/footer %>
		</div>
		<script type="text/javascript" src="./../../js/index.js"></script>
<% include ../partials/socket %>
	</body>
</html>
