<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<main class="l-container">
			<section class="m-section m-detail">
				<header class="m-detail--header">
					<img class="m-detail--image" src="./../../src/img/test-image.jpg" alt="">
					<h1><%= issue.title%></h1>
					<h2><%= issue.meta_description %></h2>
					<span><%= issue.votes %></span>
					<span><%= issue.category%></span>
				</header>
				<article class="m-detail--information">
					<p class="m-information--paragraph"><%= issue.meta_description%></p>
					<% if(issue.owner === session.userId){%>
					<a href="/edit/<%=issue._id%>">Edit this issue</a>
					<a href="/delete/<%=issue._id%>">Delete this issue</a>
					<% } %>
				</article>
			</section>
		</main>
	</body>
</html>
