<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head%>
    </head>
    <body>
        <% include ../partials/header%>
        <main class="l-container">
            <section class="m-section">
                <h2><%= user.username%></h2>
                <p>Full name:</p>
                <p><%= user.first_name + ' ' + user.last_name%></p>
                <p>City:</p>
                <p><%= user.city%></p>
                <p>Skills:</p>
                <p><%= user.skills%></p>
                <h2>Issues:</h2>
                <% if(issues[0]){
                    issues.forEach(issue => {
                        %>
                        <h2><%= issue.title %> </h2> 
                        <p><%= issue.category %> </p> 
                        <p><%= issue.votes %> </p> 
                        <a href='/details/<%=issue._id%>'>Link</a>
                        <%
                    })
                    
                 } else {
                     %><a href='/issue'>You haven't made any issues yet, click here to make one</a><%
                 } %>
                <a href="/logout"><button type="submit">Logout</button></a>
            </section>    
        </main>
    </body>
</html>