<article class="m-card">
<a href="/details/<%=issue._id%>/like">
	<button class="m-card--icon m-card--icon-star" type="button" name="button">
		<i class="material-icons">star</i>
	</button>
	</a>
	<img class="m-card--image" src="./../../src/img/test-image.jpg" alt="">
	<span class="m-card--category"><%= issue.category%></span>
	<span class=m-card--votes><%= issue.likes.length %><i class="material-icons md-14">star</i></span>
	<h3 class="m-card--title"><%= issue.title %></h3>
	<p class="m-card--short-title"><%= issue.meta_description %></p>
	<p class="m-card--short-title">Twitter popularity score: <%= issue.popularity %></p>
	<a href="/details/<%=issue._id%>">
		<button class="m-card--icon m-card--icon-arrow" type="button" name="button">
			more info<i class="material-icons">chevron_right</i>
		</button>
	</a>
</article>
